.main-dash{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.main-dash__header{
    font-size: 2rem;
    font-weight: bold;
}


@media only screen and (max-width: 75em){
    .main-dash__header{
        margin-top: 3rem;
        text-align: center;
    }

    .main-dash{
        justify-content: start; 
    }
}

@media only screen and (max-width: 48em){
    .main-dash{
        width: 37rem;
    }
}

